.h-100{
    min-height: 100vh !important;
}

a{
  color: #2d86a8;
  font-weight: 600;
}

.fixed{
  position: absolute;
  top: 3rem;
  left: 4rem;
  color: black;
  font-weight: bold;
}

.social{
    margin: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .social div{
    /* background-color: #ddd !important;
    border-color: black !important;
    border-width: 5px !important; */
    width: 48%;
    border: 1px solid #e1e1e1;
    border-radius: 7px;
    padding: 5px;
    color: black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .social div:hover{
    background-color: rgba(255,255,255,0.47);
  }
  /* .social .fb{
    margin-left: 25px;
  } */
  .social img{
    margin-right: 8px;
  }

  .card{
    width: 90%;
    max-width:500px;
  }

  .divider{
    margin: 1rem 0;
    display: flex;
    flex-direction:row;
    color:gray;
  gap:10px;
align-items:center  }

.divider-line{
  width: 100%;
  background-color: gray;
  height: 1px;
  opacity: 0.2;

}

.login{
  width:100%;
  height:50px;
  border-radius:30px;
  background-color: black;
  color: white
}

@media screen and (min-width: 992px) {
  .introSection{
margin-top: 85px;
  }}